[submodule "libs/LGLE"]
	path = libs/LGLE
	url = https://github.com/REDxEYE/LGLE
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
